-@val item: model.SnakeCaseKeyExample
-@val s: skinny.Skinny

h3 #{s.i18n.get("snakeCaseKeyExample.detail")}
hr
-for (notice <- s.flash.notice)
  p(class="alert alert-info") #{notice}
table(class="table table-bordered")
  thead
    tr
      th #{s.i18n.get("snakeCaseKeyExample.id")}
      td #{item.id}
    tr
      th #{s.i18n.get("snakeCaseKeyExample.firstName")}
      td #{item.firstName}
    tr
      th #{s.i18n.get("snakeCaseKeyExample.luckeyNumber")}
      td #{item.luckeyNumber}

hr
div(class="form-actions")
  a(class="btn btn-default" href={url(SnakeCaseKeyExamplesController.indexUrl)}) #{s.i18n.get("backToList")}
  a(href={url(SnakeCaseKeyExamplesController.editUrl, "id" -> item.id.toString)} class="btn btn-info") #{s.i18n.get("edit")}
  a(data-method="delete" data-confirm={s.i18n.get("item.delete.confirm")} href={url(SnakeCaseKeyExamplesController.deleteUrl, "id" -> item.id.toString)} rel="nofollow" class="btn btn-danger") #{s.i18n.get("delete")}
